*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: url("image/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
    background-color:cadetblue;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

.container{

    width:400px;
    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,0.3);

}

h2{

    text-align:center;
    margin-bottom:30px;

    font-size:35px;

    color:#0d3b66;

}

.login-page{

    display:flex;
    flex-direction:column;

}

.login-page label{

    font-size:18px;
    font-weight:bold;

    margin-bottom:8px;
    margin-top:15px;

}

.login-page input{

    width:100%;
    padding:12px;

    border:1px solid gray;
    border-radius:8px;

    font-size:16px;

}

.login-page button{

    width:100%;

    margin-top:30px;

    padding:12px;

    border:none;
    border-radius:8px;

    background:green;

    color:white;

    font-size:20px;

    cursor:pointer;

}

.login-page button:hover{

    background:darkgreen;

}